
* {
    box-sizing: border-box;
    color: white;
  }



/** tags */

  body {
    background-image: url("Recursos/Fondo_Estrellado_Horizontal.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

 hr {

    border-top: 1px solid;
    height: 2px;
    max-width: 300px;
    min-width: none;
    padding: 0;
    margin: 20px auto 20px auto;

 }

 ul {

  padding-inline-start: 5%;

}

h1 {

    text-align: center;
    font-size: 80px;
    font-family: 'Rubik Vinyl', cursive;
    margin-top: auto;
    margin-bottom: auto;

 }

  h2 {
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
  }
  
 h4 {

    text-align: center;

 }

/** ids */

 #Display_Verti h1 {

  font-size: 55px;
  font-family: 'Rubik Vinyl', cursive;

 }

 #Texto {

    width: 70%;
    float: right;
 }

  #Barra_Fija {

    width: 25%;
    float: left;
    background-color: #333333b9;
    margin-right: 30px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    
  }

  #Barra_Fija h2 {

    margin-left: 15%;

  }
  
  #Foto_Central img {
    width: 128px;
    height: 128px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 64px;
    margin-bottom: 64px;

 }

  #Contacto img {
    width: 16px;
    height: 16px;
    margin-left: 35px;
}

#Derecha_scroll {

    width: 75%;
    float: right;

}

#Derecha_Scroll h2 {

    font-size: 30px;
    text-align: center;

}

#Derecha_scroll p {

  text-align: center;

}

/** Modificaciones si el dispositivo esta en vertical(=~ tablet) */

@media only screen and (orientation: portrait) {

  
  body {
    background-image: url("Recursos/Fondo_Estrellado_Vertical.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-size: 30px;
  }

  #Display_Verti h1 {

    font-size: 65px;

  }

  h2 {
    font-size: 45px;
  }

  #Texto {

      width: 100%;
      float: bottom;
  }

  #Barra_Fija {

    width: 100%;
    float: top;
    background-color: #333333;
    margin: 0%;
        
  }

  #Contacto span {

    display: none;

  }

  #Contacto br {

    display: none;

  }

  #Contacto Img {

    margin-left: 17%;
    margin-right: 0%;
    height: 30px;
    width: 30px;

  }

  #Foto_Central img {
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    
  }

  #Derecha_scroll {

    float: bottom;
  
  }

}

/** Modificaciones si el dispositivo esta en vertical(=~ celular) */

@media only screen and (max-width: 420px) and (orientation: portrait) {

  
  body {
    background-image: url("Recursos/Fondo_Estrellado_Vertical.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-size: 16px;
  }

  #Display_Verti h1 {

    font-size: 55px;

  }

  h2 {
    font-size: 30px;
  }

  #Texto {

      width: 100%;
      float: bottom;
  }

  #Barra_Fija {

    width: 100%;
    float: top;
    background-color: #333333;
    margin-right: 15px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
        
  }

  #Contacto span {

    display: none;

  }

  #Contacto br {

    display: none;

  }

  #Contacto Img {

    margin-left: 15%;
    margin-right: 0%;
    height: 20px;
    width: 20px;

  }

  #Foto_Central img {
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    
  }

  #Derecha_scroll {

    float: bottom;
  
  }

}

/** Modificaciones si el ancho maximo es 960 y horizontal */

@media only screen and (max-width: 960px) and (orientation: landscape) {

  #Texto {

    width: 60%;
    float: right;
 }

  #Barra_Fija {
    width: 35%;
  }

  #Contacto img {
    width: 16px;
    height: 16px;
    margin-left: 5%;
  }

  #Barra_Fija h2 {

    margin-left: 5%;

  }


  #Derecha_scroll {

    width: 65%;

  }
}